table, td, th {    
    border: 1px solid black;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 600px;
}
th {
    background-color: #D3D3D3;
    color: rgb(17, 12, 12);
}

th, td {
    padding: 12px;
}
tr:nth-child(even) {background-color: #D3D3D3;}
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #20bdd8;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }